/* Contenedor principal */
.employee-management-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Alineamos a la izquierda */
  padding: 20px;
  width: 100%;
  gap: 20px; /* Añadimos espacio entre elementos */
}

/* Estilo del título */
.employee-management-container h2 {
  color: #339f79;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center; /* Alineación izquierda */
  width: 100%;
}

/* Botón "Agregar Empleado" */
.add-btn {
  padding: 12px 20px;
  border-radius: 8px;
  background: linear-gradient(145deg, #5b9c8b, #438574);
  color: #e6e6e6;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
  margin-bottom: 20px; /* Separación entre el botón y la tabla */
  margin-left: 80px; /* Separación a la izquierda */
}

.add-btn:hover {
  background: linear-gradient(145deg, #73b3a1, #5b9c8b);
}

/* Tabla de empleados */
.employee-table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  color: #e6e6e6;
}

/* Celdas de la tabla */
.employee-table th, .employee-table td {
  padding: 10px;
  text-align: center;
}

/* Encabezado de la tabla */
.employee-table th {
  background: linear-gradient(145deg, #438574, #2b6d5e);
  box-shadow: 5px 5px 15px #2b6d5e, -5px -5px 15px #5b9c8b;
  color: #fff;
}

/* Celdas de la tabla */
.employee-table td {
  background: rgba(11, 77, 59, 0.5);
}

/* Fila de la tabla al pasar el mouse */
.employee-table tr:hover {
  background-color: rgba(11, 77, 59, 0.8);
}

/* Botones dentro de la tabla */
.edit-btn, .delete-btn {
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: #e6e6e6;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-bottom: 5px; /* Separación entre los botones */
}

/* Botón editar */
.edit-btn {
  background: linear-gradient(145deg, #6c9dec, #5275c1);
}

.edit-btn:hover {
  background: linear-gradient(145deg, #7faaf5, #6c9dec);
}

/* Botón eliminar */
.delete-btn {
  background: linear-gradient(145deg, #6c9dec, #5275c1);
}

.delete-btn:hover {
  background: linear-gradient(145deg, #7faaf5, #6c9dec);
}

.delete-btn:active, .edit-btn:active {
  transform: scale(0.98);
}

/* Aseguramos que los botones "Editar" y "Eliminar" estén uno al lado del otro */
.employee-table td button:last-child {
  margin-right: 0; /* Elimina el margen del último botón */
}

/* Cargando empleados */
ng-template p {
  font-size: 1.2rem;
  color: #fff;
}
